.copy-input {
    width: 80%;
    cursor: pointer;
    background-color: #eaeaeb;
    border:none;
    color:#6c6c6c;
    font-size: 16px;
    border:none;
    padding: 15px 0px 15px 15px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 3px 15px #b8c6db;
    -moz-box-shadow: 0 3px 15px #b8c6db;
    -webkit-box-shadow: 0 3px 15px #b8c6db;
    text-align: center;
    overflow-wrap: break-all;
    word-wrap: break-all;
  }

.copyClipboard {
  width: 80%;
  background-color: #eaeaeb;
  color:#6c6c6c;
  border:none;
  text-align: center;
  
}
.copyClipboard:focus {
    outline:none;
    border:none;
    background-color: #eaeaeb;
    color:#6c6c6c;
  }
  
.copy-btn {
    width:20%;
    height: 20px;
    background-image: url("https://img.icons8.com/material-sharp/24/000000/copy.png");
    padding: 0px 0px 0px;
    margin: 0px;
    border:none;
    color:#6c6c6c;
    transition: all .4s;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
  }

.copy-btn:hover {
    transform: scale(1.3);
    color:#1a1a1a;
    cursor:pointer;
  }
  
.copy-btn:focus {
    outline:none;
  }
  
.copied {
    font-family: 'Montserrat', sans-serif;
    width: 75px;
    display: none;
    position:fixed;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: auto;
    color:#000;
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 15px #b8c6db;
    -moz-box-shadow: 0 3px 15px #b8c6db;
    -webkit-box-shadow: 0 3px 15px #b8c6db;
  }

.clipboard-1{
    width: 50%;
    justify-content: center;
    margin: 0% 0% 0% 10%;
    font-family: 'Montserrat', sans-serif;
    overflow-wrap: break-all;
    word-wrap: break-all;
    
  }
.clipboard-2{
  width: 250%;
  justify-content: center;
  margin: 0% 0% 0% -25%;
  font-family: 'Montserrat', sans-serif;
  overflow-wrap: break-all;
  word-wrap: break-all;
  
}
.clipboard-3{
  width: 100%;
  justify-content: center;
  margin: 0% 0% 0% 10%;
  font-family: 'Montserrat', sans-serif;
  overflow-wrap: break-all;
  word-wrap: break-all;
  
}

.wallet-connect-mob-wrapper {
  padding: 5% 0px 10px 0px;
}

.TwitterMemeWrapper {
  display: flex;
  width: 100%;
}




